@use "../mixin";

.AnchorLink {
  transition: var(--md-sys-motion-spring-fast-effect-duration)
    var(--md-sys-motion-spring-fast-effect);
  user-select: none;

  &.normal {
    @include mixin.typescale-style("body-large");

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3px;
    position: absolute;
    left: -60px;
    z-index: 20;
    border-radius: var(--md-sys-shape-corner-full);
    width: 60px;
    height: 100%;
    opacity: 0;
    margin-block-start: 0 !important;

    .symbol {
      @include mixin.material-symbols;

      display: block;
      position: sticky;
      top: 0;
      border-radius: var(--md-sys-shape-corner-full);
      width: 54px;
      height: 54px;
      color: var(--md-sys-color-on-surface);
      line-height: 54px;
      text-align: center;
      text-decoration: none !important;
      background-color: transparent;

      &:focus-visible {
        @include mixin.focus-ring($thickness: 3, $offset: 2);
      }
    }

    .feedback {
      @include mixin.typescale-style("label-medium");

      position: sticky;
      top: 57px;
      padding-block: 3px;
      padding-inline: 9px;
      word-break: keep-all;
      border-radius: var(--md-sys-shape-corner-small);
      background-color: var(--md-sys-color-surface-container-low);
    }

    &:focus-within {
      opacity: 1;
    }
  }

  &.inline {
    display: none;
    font: inherit;
    text-decoration: none !important;
    opacity: 0.2;
  }

  @media screen and (width <= 1600px) {
    &.normal {
      display: none;
    }

    &.inline {
      display: inline-block;
    }
  }
}
