@use "../Mixin";

.AppBar {
  display: flex;
  grid-column: 2 / 3;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: -64px;
  right: 0;
  z-index: 998;
  padding-inline: 8px;
  width: 100%;
  height: 64px;
  color: var(--md-sys-color-on-surface);
  background-color: transparent;
  overflow: hidden;
  transition: var(--md-sys-motion-spring-slow-effect-duration)
    var(--md-sys-motion-spring-slow-effect);
  flex-flow: column nowrap;

  .action-btn {
    button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      margin: 8px;
      transition:
        right var(--md-sys-motion-spring-slow-effect-duration)
          var(--md-sys-motion-spring-slow-effect),
        top var(--md-sys-motion-spring-slow-spatial-duration)
          var(--md-sys-motion-spring-slow-spatial);
    }
  }

  &.hidden {
    top: -64px;
  }

  @media screen and (width <= 840px) {
    top: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}
