@use "../mixin";

.ButtonGroup {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;

  &.standard {
    gap: 4px;
  }

  &.connected {
    gap: 0;

    .MaterialButton {
      &:not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      &:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }

      &.outlined:not(:first-child) {
        margin-left: -1px;
      }
    }
  }
}
