@use "../mixin";

.ButtonGroup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  position: relative;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }
}
