@use "../mixin";

.MaterialCard {
  display: flex;
  flex-direction: column;

  position: relative;

  text-decoration: none;

  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;

    position: relative;

    height: 100%;
    width: 100%;

    .impression-area {
      z-index: 1;
    }

    .supporting-area {
      pointer-events: none;
    }
  }

  &.feed {
    border-radius: var(--md-sys-shape-corner-large);

    .content {
      display: flex;
      flex-direction: column;
      gap: 12px;

      padding: 16px;

      .impression-area {
        display: flex;
        gap: 12px;
        flex-direction: column;

        .title-container {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 12px;

          .title {
            h4 {
              font-variation-settings: "wdth" 500;
              text-transform: uppercase;
            }
          }
        }

        .image-container {
          display: grid;
          gap: 6px;

          position: relative;

          height: 200px;

          &:has(img:nth-child(2)) {
            img:nth-child(1) {
              opacity: 1;
              z-index: 0;
            }

            img:nth-child(2) {
              opacity: 0;
              z-index: 1;
            }
          }

          &:hover {
            &:has(img:nth-child(2)) {
              img:nth-child(2) {
                opacity: 1;
              }
            }
          }

          img {
            position: absolute;
            top: 0px;

            height: inherit;
            width: 100%;

            border-radius: var(--md-sys-shape-corner-extra-large);

            object-fit: cover;
            transition: opacity var(--md-sys-motion-spring-default-effect-duration)
              var(--md-sys-motion-spring-default-effect);
          }
        }
      }

      .supporting-area {
        p {
          letter-spacing: 0.6rem;
        }
      }

      .actions-area {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        p {
          padding: 8px 12px;

          border-radius: var(--md-sys-shape-corner-medium);
        }

        div {
          display: flex;
          flex-direction: row;
          gap: 12px;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  &.elevated {
    background-color: var(--md-sys-color-surface-container-low);

    box-shadow: 0px 1px 6px -3px var(--md-sys-color-shadow);

    .content {
      color: var(--md-sys-color-on-surface);
    }
  }

  &.filled {
    background-color: var(--md-sys-color-surface-container-highest);

    .content {
      color: var(--md-sys-color-on-surface);
    }
  }

  &.outlined {
    border-color: var(--md-sys-color-outline-variant);

    .content {
      color: var(--md-sys-color-on-surface-variant);
    }
  }
}
