@use "../mixin";

.Header {
  grid-column: span 12;

  position: relative;

  height: 540px;

  word-break: break-word;

  svg {
    display: none;
  }

  .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    justify-content: center;

    position: relative;

    height: 100%;

    padding: 54px;

    color: var(--md-ref-palette-secondary100);

    border-radius: var(--md-sys-shape-corner-medium);
    border: 1px solid var(--md-sys-color-outline-variant);

    overflow: hidden;
    transition: var(--md-sys-motion-duration-extra-long4) var(--md-sys-motion-easing-standard);
    z-index: 1;

    .headline {
      @include mixin.typescale-style(
        "display-large",
        $font-size: 90rem,
        $line-height: 90rem,
        $font-variation-settings: "wght" 700
      );

      width: 100%;

      text-align: center;

      mix-blend-mode: hard-light;
      transition: var(--md-sys-motion-duration-short1) var(--md-sys-motion-easing-standard);
    }

    .subtitle {
      @include mixin.typescale-style("headline-large", $font-size: 22rem, $line-height: 22rem);

      width: 100%;

      text-align: center;

      mix-blend-mode: hard-light;
      transition: var(--md-sys-motion-duration-short1) var(--md-sys-motion-easing-standard);
    }

    .impression {
      position: absolute;
      left: 0px;
      top: 0px;

      height: 100%;
      width: 100%;

      background-color: var(--md-ref-palette-secondary48);

      z-index: -1;

      .noise {
        position: relative;

        height: 100%;
        width: 100%;

        filter: url(#noise-filter);
        mix-blend-mode: soft-light;
        opacity: 0.2;
        z-index: 2;
      }

      .image {
        position: absolute;
        left: 0px;
        top: 0px;

        height: 100%;
        width: 100%;

        background: center/cover no-repeat;

        opacity: 0.8;
        z-index: 1;
      }

      @media (prefers-color-scheme: dark) {
        background-color: var(--md-ref-palette-secondary10);

        .noise {
          opacity: 0.1;
        }

        .image {
          opacity: 0.4;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .Header {
    grid-column: span 12;
  }
}

@media screen and (max-width: 1200px) {
  .Header {
    grid-column: span 8;

    height: 45vh;
    min-height: 360px;

    .container {
      padding: 5vw;

      .headline {
        @include mixin.typescale-style(
          "display-large",
          $font-size: 7vw,
          $line-height: 7vw,
          $font-variation-settings: "wght" 500
        );
      }

      .subtitle {
        @include mixin.typescale-style(
          "display-small",
          $font-size: 18rem,
          $line-height: 20rem,
          $font-variation-settings: "wght" 500
        );
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .Header {
    grid-column: span 6;

    .container {
      width: 100%;

      .headline {
        @include mixin.typescale-style(
          "display-large",
          $font-size: 8vw,
          $line-height: 8vw,
          $font-variation-settings: "wght" 600
        );
      }

      .subtitle {
        @include mixin.typescale-style("headline-large", $font-size: 23rem, $line-height: 23rem);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Header {
    grid-column: span 4;

    .container {
      padding: 30px;

      .headline {
        @include mixin.typescale-style(
          "display-large",
          $font-size: 40rem,
          $line-height: 40rem,
          $font-variation-settings: "wght" 700
        );

        word-break: break-word;
      }

      .subtitle {
        @include mixin.typescale-style(
          "display-small",
          $font-size: 15rem,
          $line-height: 17rem,
          $font-variation-settings: "wght" 400
        );
      }
    }
  }
}
