@use "../Mixin";

.header-enter-active,
.header-leave-active {
  transition:
    opacity var(--md-sys-motion-spring-fast-effect-duration) var(--md-sys-motion-spring-fast-effect),
    transform var(--md-sys-motion-spring-fast-spatial-duration)
      var(--md-sys-motion-spring-fast-spatial) var(--md-sys-motion-duration-short1);

  .carousel-container .single {
    h1 {
      transition: var(--md-sys-motion-spring-slow-effect-duration)
        var(--md-sys-motion-spring-slow-effect);
    }

    img {
      &:nth-of-type(2) {
        transition: var(--md-sys-motion-spring-slow-effect-duration)
          var(--md-sys-motion-spring-default-effect);
      }
    }
  }
}

.header-enter-from,
.header-leave-to {
  opacity: 0;
  transform: scale(0.985);

  .carousel-container .single {
    h1 {
      opacity: 0;
      transform: translateX(-5%);
    }

    img {
      &:nth-of-type(2) {
        opacity: 0;
        transform: scale(1.005);
      }
    }
  }
}

.Header {
  grid-column: span 12;
  position: relative;
  height: 570px;

  .carousel-container {
    position: relative;
    z-index: 0;
    height: 100%;
    overflow: hidden;
    border-bottom-left-radius: var(--md-sys-shape-corner-extra-large);
    border-bottom-right-radius: var(--md-sys-shape-corner-extra-large);

    .single {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;

      h1 {
        @keyframes title-gradient {
          0% {
            background-size: 100%;
            background-position: 0% 0%;
          }

          25% {
            background-position: 100% 0%;
          }

          50% {
            background-size: 200%;
            background-position: 100% 100%;
          }

          75% {
            background-size: 200%;
            background-position: 0% 100%;
          }

          100% {
            background-size: 200%;
            background-position: 0% 0%;
          }
        }

        @include Mixin.typescale-style("display-large");

        grid-column: 1 / 2;
        grid-row: 1;
        position: relative;
        z-index: 2;
        margin-inline-start: 48px;
        color: transparent;
        font-size: 72rem;
        line-height: 78rem;
        background-size: 100%;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-clip: text;
        animation: title-gradient 15s var(--md-sys-motion-spring-slow-effect) infinite
          alternate-reverse;
        font-variation-settings: "wght" 900;
        text-autospace: normal;

        &.overlay {
          z-index: 3;
          color: var(--md-ref-palette-primary20);
          background: none;
          opacity: 0.9;
          animation: none;
          mix-blend-mode: luminosity;
        }

        @media screen and (width <= 1200px) {
          margin-inline: 36px;
          font-size: 72rem;
          line-height: 78rem;
          font-variation-settings: "wght" 800;
        }

        @media screen and (width <= 840px) {
          grid-column: 1 / 3;
          margin-inline: 24px;
          font-size: 48rem;
          line-height: 54rem;
          font-variation-settings: "wght" 900;
        }
      }

      img {
        grid-column: 1 / 3;
        grid-row: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        user-select: none;
        object-fit: cover;

        &:nth-of-type(1) {
          z-index: 1;
          opacity: 0.75;
          backdrop-filter: blur(10px);
          mask-image: linear-gradient(to right, black 0%, transparent 65%);
          mix-blend-mode: screen;
        }

        &:nth-of-type(2) {
          z-index: 0;
        }
      }

      @media screen and (width <= 1200px) {
        grid-template-columns: 70% 30%;
      }

      @media screen and (width <= 840px) {
        grid-template-columns: 90% 10%;

        img:nth-of-type(1) {
          mask-image: linear-gradient(to right, black 0%, transparent 100%);
        }
      }

      @media screen and (width <= 600px) {
        grid-template-columns: 100% 0%;

        img:nth-of-type(1) {
          mask-image: linear-gradient(to right, black 100%, transparent 100%);
        }
      }
    }

    .stage {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;

      .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: clip-path var(--carousel-duration) var(--md-sys-motion-spring-slow-effect);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &.current {
          z-index: 10;
          clip-path: inset(0);
        }

        &.next {
          z-index: 9;
          clip-path: inset(0 0 0 100%);
        }

        &.previous {
          z-index: 1;
          clip-path: inset(0 100% 0 0);
        }

        &.standby {
          z-index: 0;
          clip-path: inset(0 0 0 100%);
        }
      }
    }

    .controls {
      display: flex;
      flex-flow: row nowrap;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;

      button {
        border: none;
        padding: 0;
        width: 50%;
        height: 100%;
        background: none;
        cursor: pointer;
      }
    }

    .indicators {
      display: flex;
      gap: 6px;
      position: absolute;
      bottom: 24px;
      left: 50%;
      z-index: 4;
      transform: translateX(-50%);

      .dot {
        position: relative;
        border: none;
        border-radius: var(--md-sys-shape-corner-full);
        padding: 0;
        width: 8px;
        height: 8px;
        background-color: var(--md-sys-color-secondary-container);
        overflow: hidden;
        cursor: pointer;
        transition: width var(--md-sys-motion-spring-fast-spatial-duration)
          var(--md-sys-motion-spring-fast-spatial);

        &:hover {
          width: 16px;
        }

        &.active {
          width: 16px;
          background-color: color-mix(
            in srgb,
            var(--md-sys-color-secondary-container),
            transparent 50%
          );

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: var(--md-sys-shape-corner-full);
            width: max(var(--dot-progress, 0%), 8px);
            height: 100%;
            background-color: var(--md-sys-color-secondary-container);
            transition: width var(--md-sys-motion-spring-fast-spatial-duration)
              var(--md-sys-motion-spring-fast-spatial);
            content: "";
          }

          &:hover {
            width: 24px;
          }
        }
      }
    }
  }

  @media screen and (width <= 1600px) {
    grid-column: span 12;
  }

  @media screen and (width <= 1200px) {
    grid-column: span 8;
    height: 46vw;
    min-height: 270px;
  }

  @media screen and (width <= 840px) {
    grid-column: span 6;
    min-height: 270px;
  }

  @media screen and (width <= 600px) {
    grid-column: span 4;
  }
}
