@use "../Mixin";

.NavBar {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  z-index: 999;
  background-color: var(--md-sys-color-surface-container-low);
  user-select: none;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .fab-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    margin-block: 24px;
    margin-inline: 20px;
    width: stretch;

    .MaterialButton button {
      margin-inline: 8px;
    }

    .fab {
      display: grid;
      align-items: center;
      justify-content: start;
      position: relative;
      border: none;
      border-radius: var(--md-sys-shape-corner-large);
      padding-inline: 0;
      width: max-content;
      height: 56px;
      color: var(--md-sys-color-on-secondary-container);
      background-color: var(--md-sys-color-secondary-container);
      overflow: hidden;
      cursor: pointer;
      transition:
        grid var(--md-sys-motion-spring-fast-spatial-duration)
          var(--md-sys-motion-spring-fast-spatial),
        gap var(--md-sys-motion-spring-fast-spatial-duration)
          var(--md-sys-motion-spring-fast-spatial);

      span {
        @include Mixin.material-symbols;

        grid-column: 1 / 2;
        width: 56px;
        height: 24px;
        text-align: center;
        transition: font-variation-settings var(--md-sys-motion-spring-fast-spatial-duration)
          var(--md-sys-motion-spring-fast-spatial);
        font-variation-settings:
          "FILL" 1,
          "wght" 300;
      }

      p {
        grid-column: 2 / 3;
        width: max-content;
        color: var(--md-sys-color-on-secondary-container);
        pointer-events: none;
        user-select: none;
        transition: var(--md-sys-motion-spring-fast-effect-duration)
          var(--md-sys-motion-spring-fast-effect);
      }

      &:hover span {
        font-variation-settings:
          "FILL" 1,
          "wght" 600;
      }

      &:active span {
        font-variation-settings:
          "FILL" 1,
          "wght" 200;
      }

      &:focus-visible {
        @include Mixin.focus-ring($thickness: 3, $offset: 2);
      }
    }
  }

  .destinations {
    display: flex;
    transition: gap var(--md-sys-motion-spring-default-effect-duration)
      var(--md-sys-motion-spring-default-effect);

    .segment {
      position: relative;
      width: 100%;

      a {
        display: grid;
        justify-content: center;
        place-items: center center;
        position: relative;
        transition:
          grid var(--md-sys-motion-spring-fast-spatial-duration)
            var(--md-sys-motion-spring-fast-spatial),
          gap var(--md-sys-motion-spring-default-effect-duration)
            var(--md-sys-motion-spring-default-effect);
      }

      .accent {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        border-radius: var(--md-sys-shape-corner-full);
        color: var(--md-sys-color-on-surface-variant);
        overflow: hidden;
        transition:
          height var(--md-sys-motion-spring-default-effect-duration)
            var(--md-sys-motion-spring-default-effect),
          width var(--md-sys-motion-spring-default-effect-duration)
            var(--md-sys-motion-spring-default-effect);

        .icon {
          width: 24px;
          height: 24px;
          pointer-events: none;

          span {
            @include Mixin.material-symbols;

            font-variation-settings:
              "FILL" 1,
              "wght" 300;
            transition: font-variation-settings var(--md-sys-motion-spring-fast-spatial-duration)
              var(--md-sys-motion-spring-fast-spatial);
          }
        }
      }

      .label {
        display: grid;
        justify-content: center;
        color: var(--md-sys-color-on-surface-variant);
        text-decoration: none;
        text-wrap-mode: nowrap;

        &.bottom {
          @include Mixin.typescale-style("label-small");

          grid-row: 2 / 3;
          top: 0;
          z-index: -1;
          text-align: center;
        }

        &.right {
          @include Mixin.typescale-style("label-large");

          grid-column: 2 / 3;
          left: 0;
          z-index: 1;
          text-align: left;
        }

        &.animating {
          @keyframes fade-out {
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }

          animation: fade-out var(--md-sys-motion-spring-slow-effect-duration)
            var(--md-sys-motion-spring-slow-effect) both;
        }
      }

      &::after {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        border-radius: var(--md-sys-shape-corner-full);
        width: 56px;
        height: 32px;
        pointer-events: none;
        transition:
          background-color var(--md-sys-motion-spring-fast-effect-duration)
            var(--md-sys-motion-spring-fast-effect),
          height var(--md-sys-motion-spring-default-effect-duration)
            var(--md-sys-motion-spring-default-effect),
          width var(--md-sys-motion-spring-fast-spatial-duration)
            var(--md-sys-motion-spring-fast-spatial);
        content: "";
      }

      &.active {
        .accent {
          color: var(--md-sys-color-on-secondary-container);
        }

        .label {
          color: var(--md-sys-color-secondary);
        }

        &::after {
          background-color: var(--md-sys-color-secondary-container);
        }
      }

      &.inactive:hover::after {
        background-color: var(--md-sys-color-surface-container-high);
      }

      &.inactive .accent .icon span {
        font-variation-settings:
          "FILL" 0,
          "wght" 200;
      }

      &:hover .accent .icon span {
        font-variation-settings:
          "FILL" 1,
          "wght" 400;
      }

      &:active .accent .icon span {
        font-variation-settings:
          "FILL" 1,
          "wght" 200;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    margin-block: 24px;
    width: 100%;
    flex-flow: column nowrap;

    @media screen and (width <= 840px) {
      display: none;
    }
  }

  &.bar {
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    overflow-y: hidden;

    .fab-container {
      display: none;
    }

    .destinations {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .segment {
        height: 100%;

        a {
          align-content: center;
          row-gap: 4px;
          width: 100%;
          height: 100%;
        }
      }
    }

    &.horizontal {
      .destinations {
        justify-content: center;
        gap: 12px;

        .segment {
          width: max-content;

          a {
            grid: max-content 0 / max-content max-content;
            gap: 0 4px;
            padding-block: 12px;
            padding-inline: 12px 18px;
            width: max-content;
            height: 100%;
          }

          .accent {
            width: 32px;
            height: 32px;
          }

          .label {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            z-index: 1;
            width: max-content;
          }

          &::after {
            top: 12px;
            left: 0;
            width: 100%;
            height: 40px;
          }

          @media screen and (width <= 840px) {
            .label {
              @include Mixin.typescale-style("label-large");
            }
          }
        }
      }
    }

    &.vertical {
      .destinations {
        .segment {
          width: 100%;

          a {
            padding-block: 4px;
          }

          .accent {
            width: 52px;
            height: 32px;
          }

          &::after {
            top: 6px;
            right: 50%;
            left: 50%;
            translate: -50%;
          }
        }
      }
    }
  }

  &.rail {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    overflow: hidden auto;
    transition: width var(--md-sys-motion-spring-fast-spatial-duration)
      var(--md-sys-motion-spring-fast-spatial);

    .destinations {
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-start;
      width: 100%;

      .segment {
        &.active .accent {
          background-color: transparent;
        }

        &::after {
          left: 20px;
        }
      }
    }

    &.collapsed {
      width: 96px;

      .fab-container {
        .fab {
          grid: auto / max-content 0;
          gap: 0;

          p {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

      .destinations {
        gap: 10px;

        .segment {
          a {
            grid: max-content 16px / max-content 0;
            gap: 8px 0;
            padding-inline: 20px;

            &::after {
              width: 56px;
              height: 32px;
            }

            &:focus-visible {
              outline: none !important;

              .accent {
                @include Mixin.focus-ring($thickness: 3, $offset: 2);
              }
            }
          }

          .accent {
            width: 56px;
            height: 32px;
          }

          .label {
            position: relative;
            width: 56px;
          }
        }
      }
    }

    &.expanded {
      width: 220px;
      max-width: 360px;

      .fab-container {
        .fab {
          grid: auto / max-content var(--label-width);
          gap: 4px;
          padding-inline-end: 24px;

          p {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .destinations {
        gap: 0;

        .segment {
          a {
            grid: max-content 0 / max-content var(--label-width);
            gap: 0 4px;
            margin-inline-start: 20px;
            border-radius: var(--md-sys-shape-corner-full);
            padding-inline: 0 24px;
            overflow: hidden;
          }

          .accent {
            width: 56px;
            height: 56px;
          }

          .label {
            position: absolute;
          }

          &::after {
            width: calc(56px + 4px + var(--label-width) + 24px);
            height: 56px;
          }
        }
      }
    }

    @media screen and (width <= 840px) {
      display: none;
    }
  }
}
