@use "../Mixin";

.PageIndicator {
  position: relative;
  margin-block-start: 12px;
  user-select: none;

  .article-title {
    z-index: 1;
    margin-inline-start: 18px;
    padding-block-end: 18px;
    font-variation-settings: "wght" 600;
  }

  .indicator {
    position: absolute;
    z-index: 1;
    border-radius: var(--md-sys-shape-corner-extra-large);
    outline: 2px solid var(--md-sys-color-primary);
    pointer-events: none;
    transition: var(--md-sys-motion-spring-default-spatial-duration)
      var(--md-sys-motion-spring-default-spatial);
  }

  .indicator-container {
    display: flex;
    flex-flow: column nowrap;
    z-index: 0;

    span {
      position: relative;
      border-radius: var(--md-sys-shape-corner-extra-large);
      width: 100%;

      a {
        @include Mixin.typescale-style("label-large");

        border-radius: var(--md-sys-shape-corner-extra-large);
        padding-block: 9px;
        padding-inline: 18px;
        width: 100%;
        color: var(--md-sys-color-on-surface);
        text-decoration: none;
        opacity: 0.5;
        transition:
          font-variation-settings var(--md-sys-motion-spring-fast-effect-duration)
            var(--md-sys-motion-spring-fast-effect-duration),
          opacity var(--md-sys-motion-spring-fast-effect-duration)
            var(--md-sys-motion-spring-fast-effect-duration);
        font-variation-settings: "wght" 400;

        &:focus-visible {
          @include Mixin.focus-ring($thickness: 3, $offset: 2);

          opacity: 1;
        }
      }

      &.active > a {
        color: var(--md-sys-color-primary);
        font-variation-settings: "wght" 700;
        opacity: 1;

        &:focus-visible {
          color: var(--md-sys-color-on-primary);
          background-color: var(--md-sys-color-primary);
        }
      }
    }
  }

  @media screen and (width <= 840px) {
    .article-title,
    .indicator,
    .indicator-container {
      display: none;
    }
  }
}
