@use "../mixin";

.ScrollToTop {
  display: flex;
  align-items: center;
  grid-column: 10 / 13;
  justify-content: center;
  position: sticky;
  bottom: 72px;
  right: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: var(--md-sys-motion-spring-fast-effect-duration) var(--md-sys-motion-spring-fast-effect);
  user-select: none;
  visibility: hidden;
  z-index: 21;
  -moz-user-select: none;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 1600px) {
    grid-column: 10 / 13;
  }

  @media screen and (max-width: 1200px) {
    grid-column: 7 / 9;
  }

  @media screen and (max-width: 840px) {
    grid-column: 6 / 7;
  }

  @media screen and (max-width: 600px) {
    grid-column: 4 / 5;
  }
}
