@use "../Mixin";

.ScrollToTop {
  position: fixed;
  right: 48px;
  bottom: 48px;
  z-index: 21;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: var(--md-sys-motion-spring-fast-effect-duration)
    var(--md-sys-motion-spring-fast-effect);

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (width <= 840px) {
    bottom: 112px;
  }
}
