@use "../mixin";

.search-overlay-enter-active,
.search-overlay-leave-active {
  @media (prefers-reduced-motion: no-preference) {
    transition: opacity var(--md-sys-motion-spring-default-effect-duration)
      var(--md-sys-motion-spring-default-effect);

    .inner {
      transition: transform var(--md-sys-motion-spring-fast-spatial-duration)
        var(--md-sys-motion-spring-fast-spatial);
    }
  }
}

.search-overlay-enter-from,
.search-overlay-leave-to {
  opacity: 0;

  .inner {
    transform: scale(0.95) translateY(-24px);
  }
}

.SearchOverlay {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background-color: color-mix(in srgb, var(--md-sys-color-scrim), transparent 32%);

  &:has(#search-overlay-results) {
    .topbar {
      border-bottom: 1px solid var(--md-sys-color-outline-variant);
    }
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-block: 64px;
    margin-inline: 24px;
    border-radius: var(--md-sys-shape-corner-extra-large);
    width: min(100%, 640px);
    max-height: calc(100vh - 128px);
    background-color: var(--md-sys-color-surface);
    overflow: hidden;
  }

  .topbar {
    display: flex;
    align-items: center;
    gap: 8px;

    .search-input {
      @include mixin.typescale-style("title-large");

      flex-grow: 1;
      border: none;
      outline: none;
      padding-block: 0;
      padding-inline: 24px;
      height: 70px;
      min-width: 0;
      color: var(--md-sys-color-on-surface-variant);
      text-overflow: ellipsis;
      background-color: transparent;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button {
        display: none;
      }
    }

    .MaterialButton button {
      margin-inline: 12px;
    }
  }

  .result-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;

    .result-items {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      border-radius: var(--md-sys-shape-corner-medium);
      padding-block: 12px;
      padding-inline: 16px;
      width: 100%;
      text-decoration: none;

      &[aria-selected="true"],
      &:focus-visible {
        outline: none;

        .result-index {
          @include mixin.focus-ring;
        }
      }

      .result-index {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: var(--md-sys-shape-corner-full);
        padding-inline: 4px;
        min-width: 24px;
        min-height: 32px;
        color: var(--md-sys-color-on-secondary-container);
        background-color: var(--md-sys-color-secondary-container);

        @include mixin.typescale-style("title-medium");
      }

      .title {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        gap: 4px;

        h3 {
          color: var(--md-sys-color-on-surface);
        }

        .snippet {
          color: var(--md-sys-color-on-surface-variant);
          overflow: hidden;

          .snippet-match {
            color: var(--md-sys-color-on-secondary-container);
            background-color: var(--md-sys-color-secondary-container);
          }
        }
      }

      .chips {
        display: flex;
        flex-flow: row wrap;
        gap: 4px;

        .segments {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          gap: 4px;

          &::before {
            @include mixin.material-symbols($size: 12px);
          }

          .item {
            border-radius: var(--md-sys-shape-corner-medium);
            padding-inline: 6px;

            @include mixin.typescale-style("label-small");
          }

          &.date {
            .item {
              color: var(--md-sys-color-on-tertiary-container);
              background-color: var(--md-sys-color-tertiary-container);
            }

            &::before {
              content: "calendar_today";
            }
          }

          &.categories {
            .item {
              color: var(--md-sys-color-on-purple-container);
              background-color: var(--md-sys-color-purple-container);
            }

            &::before {
              content: "category";
            }
          }

          &.tags {
            .item {
              color: var(--md-sys-color-on-yellow-container);
              background-color: var(--md-sys-color-yellow-container);
            }

            &::before {
              content: "tag";
            }
          }
        }
      }
    }
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-block: 42px;

  .icon {
    color: var(--md-sys-color-on-surface-variant);

    @include mixin.material-symbols($size: 64rem);
  }

  .label {
    @include mixin.typescale-style("body-large");

    color: var(--md-sys-color-on-surface-variant);
  }

  @media screen and (width <= 840px) {
    background-color: var(--md-sys-color-surface);

    .inner {
      margin-block-start: 0;
      border-radius: 0;
      width: 100%;
    }

    .result-area {
      gap: 4px;
    }
  }
}
