@property --ripple-alpha {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.StateLayer {
  position: absolute;
  z-index: 10;
  inset: 0;
  border-radius: inherit;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
  transition: background-color var(--md-sys-motion-spring-fast-effect-duration)
    var(--md-sys-motion-spring-fast-effect);

  .ripple-wrapper {
    position: absolute;
    top: var(--ripple-y);
    left: var(--ripple-x);
    pointer-events: none;

    .ripple {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      width: var(--ripple-size);
      height: var(--ripple-size);
      background-color: color-mix(
        in srgb,
        var(--md-sys-color-on-surface) calc(var(--ripple-alpha) * 100%),
        transparent
      );
      pointer-events: none;
      transform: translate(-50%, -50%) scale(0);
    }

    .noise-canvas {
      position: absolute;
      z-index: 1;
      opacity: 1;
      pointer-events: none;

      @media (prefers-color-scheme: dark) {
        opacity: 0.4;
      }
    }
  }
}
