@use "../../mixin";

.MaterialButton {
  display: contents;

  > * {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    text-decoration: none !important;
    text-wrap-mode: nowrap;
    vertical-align: middle;

    border: none;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 0px;

    background-color: transparent;

    cursor: pointer;
    overflow: hidden;
    transition:
      padding-inline var(--md-sys-motion-spring-fast-spatial-duration) var(--md-sys-motion-spring-fast-spatial),
      border-radius var(--md-sys-motion-spring-fast-effect-duration) var(--md-sys-motion-spring-fast-effect),
      background-color var(--md-sys-motion-spring-fast-effect-duration) var(--md-sys-motion-spring-fast-effect);
    user-select: none;
    -moz-user-select: none;

    &:focus-visible {
      @include mixin.focus-ring($thickness: 3, $offset: 2);
    }
  }
}
