@use "../../mixin";

.MaterialButton {
  display: contents;

  > * {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border: none;
    outline: transparent solid 0;
    text-decoration: none !important;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    transition:
      padding-inline var(--md-sys-motion-spring-fast-spatial-duration)
        var(--md-sys-motion-spring-fast-spatial),
      border-radius var(--md-sys-motion-spring-fast-effect-duration)
        var(--md-sys-motion-spring-fast-effect),
      background-color var(--md-sys-motion-spring-fast-effect-duration)
        var(--md-sys-motion-spring-fast-effect);
    text-wrap-mode: nowrap;
    vertical-align: middle;
    user-select: none;

    &:focus-visible {
      @include mixin.focus-ring($thickness: 3, $offset: 2);
    }
  }
}
