@use "../../mixin";

.MaterialSymbolDL {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-inline: 12px;
}

.section {
  &.input {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    .MaterialInput {
      flex-grow: 1;
      width: unset;
    }

    .MaterialButton {
      flex-shrink: 0;
    }
  }

  &.queue {
    .header {
      margin-bottom: 16px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(92px, 1fr));
      gap: 12px;

      .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        position: relative;
        height: max-content;
        padding: 8px;
        border-radius: var(--md-sys-shape-corner-small);
        cursor: pointer;
        overflow: hidden;
        user-select: none;
        --moz-user-select: none;

        .preview-icon {
          font-size: 32px;
        }

        .icon-name {
          @include mixin.typescale-style("body-small");
          text-align: center;
          word-break: break-all;
        }

        &::before {
          @include mixin.material-symbols("delete_forever", $size: 42rem);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          inset: 0;
          color: var(--md-sys-color-on-error);
          opacity: 0;
          pointer-events: none;
        }

        &:hover {
          &::before {
            opacity: 1;
            background-color: var(--md-sys-color-error);
          }
        }

        &.duplicate {
          @keyframes shake {
            10%,
            90% {
              transform: translate3d(-1px, 0, 0);
            }
            20%,
            80% {
              transform: translate3d(2px, 0, 0);
            }
            30%,
            50%,
            70% {
              transform: translate3d(-3px, 0, 0);
            }
            40%,
            60% {
              transform: translate3d(3px, 0, 0);
            }
          }

          animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }
      }
    }
  }
}
