// 动画

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes popOut {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes search-results-container-show {
  0% {
    visibility: hidden;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    height: calc(100% - 68px);

    opacity: 1;
  }
}

.layout-content-enter-active,
.layout-content-leave-active {
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content-enter-from,
.layout-content-leave-to {
  opacity: 0;
}
.layout-content-enter-to,
.layout-content-leave-from {
  opacity: 1;
}
