@use "sass:meta";
@use "mixin";

* {
  box-sizing: border-box;

  transition: background-color var(--md-sys-motion-spring-default-effect-duration) var(--md-sys-motion-spring-default-effect);

  &::after,
  &::before {
    transition: background-color var(--md-sys-motion-spring-default-effect-duration) var(--md-sys-motion-spring-default-effect);
  }
}

@include meta.load-css("tokens");

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-size: 1px;
  font-synthesis: none;
  hyphens: auto;
  scrollbar-color: var(--md-sys-color-secondary) transparent;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  color: var(--md-sys-color-on-surface);

  background-color: var(--md-sys-color-surface-container-lowest);

  overflow: hidden;

  ::selection {
    color: var(--md-sys-color-surface-variant);

    background-color: var(--md-sys-color-on-surface-variant);
  }

  &.light {
    img[data-mode="darkmode-only"] {
      display: none !important;
    }
  }

  &.dark {
    img[data-mode="lightmode-only"] {
      display: none !important;
    }
  }
}

#app {
  position: relative;

  height: 100%;
  width: 100%;

  touch-action: none;
  z-index: 0;

  [disabled] {
    box-shadow: none;
    pointer-events: none;
  }
}

h1 {
  @include mixin.typescale-style("headline-large");

  margin: 0px;
}

h2 {
  @include mixin.typescale-style("headline-medium");

  margin: 0px;
}

h3 {
  @include mixin.typescale-style("headline-small");

  margin: 0px;
}

h4 {
  @include mixin.typescale-style("title-large");

  margin: 0px;
}

h5 {
  @include mixin.typescale-style("title-medium");

  margin: 0px;
}

h6 {
  @include mixin.typescale-style("title-small");

  margin: 0px;
}

p,
pre {
  @include mixin.typescale-style("body-large");

  margin: 0px;
}

a {
  display: inline-block;

  height: max-content;
  width: max-content;

  color: var(--md-sys-color-primary);
  letter-spacing: 0px;
  text-decoration: underline solid;
  text-underline-offset: 6px;

  code {
    color: var(--md-sys-color-inverse-primary) !important;
    font-weight: bold;
    text-decoration: underline;
  }
}

abbr {
  cursor: help;
}

hr {
  height: 15px;

  margin: 0px;

  border-radius: var(--md-sys-shape-corner-small);
  border: none;

  background: var(--md-sys-color-outline-variant);

  mask: var(--via-svg-wave) repeat;
  opacity: 0.3;
}

a,
span {
  @include mixin.typescale-style("body-large");
}

table {
  display: block;

  max-width: max-content;
  width: 100%;

  border-collapse: collapse;
  border-radius: var(--md-sys-shape-corner-extra-large);
  outline-offset: -1px;
  outline: 1px solid var(--md-sys-color-outline);

  overflow: auto;

  a {
    text-decoration: none;
  }

  caption {
    @include mixin.typescale-style("title-medium", $font-variation-settings: "wght" 700);

    padding: 16px 0px;
  }

  thead {
    @include mixin.typescale-style("body-large", $font-variation-settings: "wght" 700);

    white-space: nowrap;

    tr {
      th {
        text-transform: capitalize;

        background-color: var(--md-sys-color-surface-variant);
      }
    }
  }

  tbody {
    @include mixin.typescale-style("body-large");

    img {
      max-width: 375px;
    }

    tr {
      vertical-align: top;

      td {
        vertical-align: inherit;

        code {
          white-space: nowrap;
        }
      }
    }
  }

  td,
  th {
    min-width: 14ch;

    padding: 16px 24px;

    border: 1px solid var(--md-sys-color-outline);

    &:empty {
      display: none;
    }

    code {
      padding-block: 0px !important;
    }
  }
}
