@use "Mixin";
@use "Tokens";

* {
  box-sizing: border-box;
  transition: background-color var(--md-sys-motion-spring-default-effect-duration)
    var(--md-sys-motion-spring-default-effect);

  &::after,
  &::before {
    transition: background-color var(--md-sys-motion-spring-default-effect-duration)
      var(--md-sys-motion-spring-default-effect);
  }
}

:root {
  font-size: 1px;
  hyphens: auto;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  scrollbar-color: var(--md-sys-color-secondary) transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container-lowest);
  overflow: hidden;

  ::selection {
    color: var(--md-sys-color-surface-variant);
    background-color: var(--md-sys-color-on-surface-variant);
  }

  ::target-text {
    color: var(--md-sys-color-on-secondary-container);
    background-color: var(--md-sys-color-secondary-container);
  }

  &.light {
    img[data-mode="darkmode-only"] {
      display: none !important;
    }
  }

  &.dark {
    img[data-mode="lightmode-only"] {
      display: none !important;
    }
  }
}

#app {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  touch-action: none;

  [disabled] {
    box-shadow: none;
    pointer-events: none;
  }
}

$typescale-map: (
  a: "body-large",
  caption: "title-medium",
  h1: "headline-large",
  h2: "headline-medium",
  h3: "headline-small",
  h4: "title-large",
  h5: "title-medium",
  h6: "title-small",
  p: "body-large",
  pre: "body-large",
  span: "body-large",
  thead: "body-large",
  tbody: "body-large",
);

@each $selector, $style in $typescale-map {
  #{$selector} {
    @include Mixin.typescale-style($style);

    margin: 0;
  }
}

a {
  display: inline-block;
  width: max-content;
  height: max-content;
  color: var(--md-sys-color-primary);
  letter-spacing: 0;
  text-decoration: underline solid;
  text-underline-offset: 6px;

  code {
    color: var(--md-sys-color-inverse-primary) !important;
    font-weight: bold;
    text-decoration: underline;
  }
}

abbr {
  cursor: help;
}

hr {
  margin: 0;
  border: none;
  border-radius: var(--md-sys-shape-corner-small);
  height: 15px;
  background: var(--md-sys-color-outline-variant);
  opacity: 0.3;
  mask: var(--via-svg-wave) repeat;
}

table {
  display: block;
  border-radius: var(--md-sys-shape-corner-extra-large);
  outline: 1px solid var(--md-sys-color-outline);
  outline-offset: -1px;
  width: 100%;
  max-width: max-content;
  overflow: auto;
  border-collapse: collapse;

  a {
    text-decoration: none;
  }

  caption {
    font-variation-settings: "wght" 700;
    padding: 16px 0;
  }

  thead {
    font-variation-settings: "wght" 700;
    white-space: nowrap;

    tr th {
      text-transform: capitalize;
      background-color: var(--md-sys-color-surface-variant);
    }
  }

  tbody {
    img {
      max-width: 375px;
    }

    tr {
      vertical-align: top;

      td {
        vertical-align: inherit;

        code {
          white-space: nowrap;
        }
      }
    }
  }

  td,
  th {
    border: 1px solid var(--md-sys-color-outline);
    padding: 16px 24px;
    min-width: 14ch;

    &:empty {
      display: none;
    }

    code {
      padding-block: 0 !important;
    }
  }
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 0;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
}
