@mixin typescale-style(
  $type-scale,
  $font-family: var(--md-sys-typescale-#{$type-scale}-family),
  $font-size: var(--md-sys-typescale-#{$type-scale}-size),
  $font-weight: var(--md-sys-typescale-#{$type-scale}-weight),
  $line-height: var(--md-sys-typescale-#{$type-scale}-line-height),
  $letter-spacing: var(--md-sys-typescale-#{$type-scale}-letter-spacing),
  $font-variation-settings: var(--md-sys-typescale-#{$type-scale}-font-variation-settings)
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-variation-settings: $font-variation-settings;
}

@mixin typescale(
  $name,
  $family,
  $weight,
  $size,
  $tracking,
  $line-height,
  $vf-weight,
  $vf-GRAD,
  $vf-wdth,
  $vf-ROND,
  $vf-opsz,
  $vf-CRSV,
  $vf-slnt,
  $vf-FILL,
  $vf-HEXP
) {
  --md-sys-typescale-#{$name}-family: #{$family};
  --md-sys-typescale-#{$name}-weight: #{$weight};
  --md-sys-typescale-#{$name}-size: #{$size}rem;
  --md-sys-typescale-#{$name}-letter-spacing: #{$tracking}rem;
  --md-sys-typescale-#{$name}-line-height: #{$line-height}rem;
  --md-sys-typescale-#{$name}-font-variation-settings: "wght" #{$vf-weight}, "GRAD" #{$vf-GRAD}, "wdth" #{$vf-wdth}, "ROND" #{$vf-ROND}, "opsz" #{$vf-opsz},
    "CRSV" #{$vf-CRSV}, "slnt" #{$vf-slnt}, "FILL" #{$vf-FILL}, "HEXP" #{$vf-HEXP};
}

@mixin material-symbols($name: "", $size: 24, $font-size: $size, $line-height: $size) {
  content: $name;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: "Material Symbols Outlined";
  font-feature-settings: "liga";
  font-size: #{$size}rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: #{$line-height}rem;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin focus-ring($size: 2, $z-index: 1) {
  @keyframes focus-ring {
    0% {
      outline: #{$size * 4}px solid var(--md-sys-color-primary);
    }

    100% {
      outline: #{$size}px solid var(--md-sys-color-primary);
    }
  }

  animation: focus-ring var(--md-sys-motion-spring-slow-effect-duration) var(--md-sys-motion-spring-slow-effect) forwards;
  outline-offset: #{$size}px;
  position: relative;
  transition: var(--md-sys-motion-spring-fast-spatial-standard-duration) var(--md-sys-motion-spring-fast-spatial-standard);
  z-index: $z-index;
}
