@use "sass:math";
@use "sass:string";

@mixin typescale-style($type-scale) {
  font-family: var(--md-sys-typescale-#{$type-scale}-family);
  font-size: var(--md-sys-typescale-#{$type-scale}-size);
  font-variation-settings: var(--md-sys-typescale-#{$type-scale}-font-variation-settings);
  letter-spacing: var(--md-sys-typescale-#{$type-scale}-letter-spacing);
  line-height: var(--md-sys-typescale-#{$type-scale}-line-height);
}

@mixin typescale($name, $family, $size, $tracking, $line-height, $vf-weight) {
  --md-sys-typescale-#{$name}-family: #{$family};
  --md-sys-typescale-#{$name}-size: #{$size}rem;
  --md-sys-typescale-#{$name}-font-variation-settings: "wght" #{$vf-weight};
  --md-sys-typescale-#{$name}-letter-spacing: #{$tracking}rem;
  --md-sys-typescale-#{$name}-line-height: #{$line-height}rem;
}

// acute, add, alarm, arrow_back, arrow_downward, arrow_forward, arrow_outward, arrow_upward, auto_awesome_mosaic, bluetooth, borg, brightness_alert, brightness_auto, build, calendar_today, category, check, check_box, check_box_outline_blank, chevron_left, chevron_right, clear_all, close, code, code_blocks, content_copy, copy_all, dangerous, dark_mode, delete_forever, do_not_disturb_on, download, expand_more, favorite, filter_list_off, flashlight_on, home, hourglass_empty, info, light_mode, lightbulb_2, link, match_case, menu, menu_open, message, open_in_new, page_info, person, remove, rocket_launch, search, search_off, settings, sort_by_alpha, tag, update, verified, wifi
@mixin material-symbols($name: "", $size: 24rem, $font-size: $size, $line-height: $size) {
  @font-face {
    font-display: swap;
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(/assets/fonts/MaterialSymbolsOutlined.woff2) format("woff2");
  }

  content: $name;
  display: inline-block;
  direction: ltr;
  font-family: "Material Symbols Outlined";
  font-feature-settings: "liga";
  font-size: #{$size};
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: #{$line-height};
  text-rendering: optimizeLegibility;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-user-select: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin focus-ring($thickness: 2, $offset: $thickness, $z-index: 1) {
  @keyframes focus-ring {
    from {
      outline: #{$thickness * 4}px solid var(--md-sys-color-primary);
    }
    to {
      outline: #{$thickness}px solid var(--md-sys-color-primary);
    }
  }

  animation: focus-ring var(--md-sys-motion-spring-slow-effect-duration) var(--md-sys-motion-spring-slow-effect) forwards;
  outline-offset: #{$offset}px;
  transition:
    border-radius var(--md-sys-motion-spring-fast-spatial-duration) var(--md-sys-motion-spring-fast-spatial),
    outline var(--md-sys-motion-spring-fast-spatial-standard-duration) var(--md-sys-motion-spring-fast-spatial-standard);
  z-index: $z-index;
}
