@use "../mixin";

#article-content {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 10;

  > div {
    width: 100%;
  }

  *[class^="language-"] {
    position: relative;
    margin-block-end: 12px;
    overflow: hidden;

    .copy {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 42px;
      width: 42px;
      margin-block-start: 6px;
      margin-inline-end: 6px;
      padding: 0px;
      border: none;
      border-radius: var(--md-sys-shape-corner-extra-large);
      background-color: transparent;
      cursor: pointer;
      opacity: 0;
      transition:
        border-radius var(--md-sys-motion-spring-fast-spatial-duration) var(--md-sys-motion-spring-fast-spatial),
        opacity var(--md-sys-motion-spring-default-effect-duration) var(--md-sys-motion-spring-default-effect);
      visibility: hidden;
      z-index: 2;

      &::before {
        @include mixin.material-symbols($name: "content_copy", $size: 18rem, $line-height: 42rem);
        color: var(--md-ref-palette-neutral90);
      }

      &.copied::before {
        content: "check";
      }

      &:active {
        border-radius: var(--md-sys-shape-corner-large);
      }

      &:focus-visible {
        outline-color: var(--md-ref-palette-neutral90) !important;
        z-index: 3;
      }
    }

    .lang {
      @include mixin.typescale-style("body-medium");
      position: absolute;
      right: 0px;
      top: 0px;
      margin-block-start: 6px;
      margin-inline-end: 9px;
      color: var(--md-ref-palette-neutral50);
      font-family: Cascadia Code;
      font-variation-settings: "wght" 700;
      text-transform: uppercase;
      transition: color var(--md-sys-motion-spring-default-effect-duration) var(--md-sys-motion-spring-default-effect);
      user-select: none;
      z-index: 1;
      -moz-user-select: none;
    }

    .shiki {
      grid-column: 2/3;
      grid-row: 1;
      margin: 0px;
      padding-block: 15px;
      border-radius: var(--md-sys-shape-corner-large);
      overflow: overlay;
      z-index: 0;

      code {
        padding: 0px;
        width: 100%;

        > span:not(:has(span)) {
          height: 25px;
        }
      }

      &.has-focused-lines .line {
        filter: blur(2px);
        transition: filter var(--md-sys-motion-spring-default-effect-duration) var(--md-sys-motion-spring-default-effect);

        &.has-focus {
          filter: blur(0px);
        }
      }

      &.has-diff .line {
        &.diff::before {
          @include mixin.typescale-style("body-medium");
          display: inline-block;
          content: "";
          height: 24px;
          width: 24px;
          font-family: Cascadia Code;
          line-height: 24px;
          text-align: center;
        }

        &.add {
          background-color: var(--md-sys-color-green-container);

          &::before {
            content: "+";
            color: var(--md-sys-color-on-green-container);
          }
        }

        &.remove {
          background-color: var(--md-sys-color-red-container);

          &::before {
            content: "-";
            color: var(--md-sys-color-on-red-container);
          }
        }
      }

      .highlighted {
        background-color: var(--md-ref-palette-neutral10);
      }

      &:hover.has-focused-lines .line {
        filter: blur(0px);
      }

      &:focus-visible {
        outline: none;
      }
    }

    &.line-numbers-mode {
      display: grid;
      grid-template-columns: max-content auto;

      .shiki {
        border-radius: 0px var(--md-sys-shape-corner-large-increased) var(--md-sys-shape-corner-large-increased) 0px;
      }

      .line-numbers-wrapper {
        grid-column: 1/2;
        grid-row: 1;
        width: max-content;
        padding-block: 15px;
        padding-inline: 12px;
        text-align: right;
        vertical-align: middle;
        color: var(--md-ref-palette-neutral-variant50);
        border-radius: var(--md-sys-shape-corner-large-increased) 0px 0px var(--md-sys-shape-corner-large-increased);
        border-right: 1px solid var(--md-ref-palette-neutral-variant50);
        background-color: var(--md-ref-palette-neutral10);
        user-select: none;
        z-index: 0;
        -moz-user-select: none;

        span {
          @include mixin.typescale-style("body-large");
          display: block;
          height: 25px;
          font-family: Cascadia Code;
          line-height: 25px;
        }

        br {
          display: none;
        }
      }
    }

    &:hover {
      .lang {
        opacity: 0;
        visibility: hidden;
      }

      .copy {
        opacity: 1;
        visibility: visible;

        &:hover {
          background-color: var(--md-ref-palette-neutral10);

          &::before {
            color: var(--md-ref-palette-neutral90);
          }
        }
      }
    }
  }

  .custom-block {
    @include mixin.typescale-style("body-large");
    display: grid;
    column-gap: 12px;
    grid-template-columns: 24px auto;
    position: relative;
    margin-block-start: 12px;
    padding-inline: 12px;
    padding-block: 12px 0px;
    border-radius: var(--md-sys-shape-corner-large-increased);
    z-index: 0;

    > * {
      grid-column: 2 / 3;
      padding-block: 0px;

      &:last-child {
        margin-block-end: 0px;
        padding-block-end: 12px;
      }
    }

    .custom-block-title {
      grid-column: 2;
      margin: 0px;
      padding: 0px;
      font-variation-settings: "wght" 700;
      user-select: none;
      -moz-user-select: none;
    }

    &::before {
      @include mixin.material-symbols();
      grid-column: 1;
    }

    &.details {
      display: block;

      &::before {
        display: none;
      }

      summary {
        display: grid;
        column-gap: 12px;
        grid-template-columns: 24px auto;
        padding-block-end: 12px;
        font-variation-settings: "wght" 700;
        border-radius: var(--md-sys-shape-corner-large-increased);
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;

        &::before {
          @include mixin.material-symbols("expand_more");
          font-variation-settings: "wght" 500;
          transform: rotateZ(-90deg);
          transition: transform var(--md-sys-motion-spring-fast-spatial-duration) var(--md-sys-motion-spring-fast-spatial);
        }
      }

      > *:not(summary) {
        margin-inline-start: 36px;
        margin-block-start: 6px;
      }

      &:hover {
        background-color: var(--md-sys-color-surface-container);
      }

      &[open] {
        background-color: var(--md-sys-color-surface-container-high);

        summary {
          padding-block-end: 0px;

          &::before {
            transform: rotateZ(0deg);
          }
        }
      }
    }

    &.info,
    &.note {
      color: var(--md-sys-color-on-blue-container);
      background-color: var(--md-sys-color-blue-container);

      &::before {
        content: "info";
        color: var(--md-sys-color-on-blue-container);
      }
    }

    &.tip {
      color: var(--md-sys-color-on-green-container);
      background-color: var(--md-sys-color-green-container);

      &::before {
        content: "lightbulb_2";
        color: var(--md-sys-color-on-green-container);
      }
    }

    &.warning,
    &.important {
      color: var(--md-sys-color-on-yellow-container);
      background-color: var(--md-sys-color-yellow-container);

      &::before {
        content: "brightness_alert";
        color: var(--md-sys-color-on-yellow-container);
      }
    }

    &.danger,
    &.caution {
      color: var(--md-sys-color-on-red-container);
      background-color: var(--md-sys-color-red-container);

      &::before {
        content: "dangerous";
        color: var(--md-sys-color-on-red-container);
      }
    }
  }

  .headline-block {
    position: relative;
    margin-block: 12px 24px;
    padding-inline: 3px;

    > * {
      margin-block: 12px 6px;
    }

    a {
      text-decoration: underline 2px dotted;
      text-underline-offset: 3px;

      &:hover {
        text-decoration-style: solid;
      }
    }

    blockquote {
      position: relative;
      margin-inline: 0px;
      padding-inline-start: 24px;
      color: var(--md-sys-color-on-tertiary-container);

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: calc(24px / 2 - 3px);
        height: 100%;
        width: 6px;
        border-radius: var(--md-sys-shape-corner-small);
        background-color: var(--md-sys-color-inverse-on-surface);
      }

      > {
        ul,
        ol {
          margin-inline: 0px;
        }
      }

      blockquote {
        margin-inline: 12px;
      }

      p {
        margin-block: 12px;
        margin-inline: 0px;
        padding-block-end: 0px;
      }

      .task-list-container {
        padding-block-end: 0px;
        padding-inline: 0px;

        li.task-list-item {
          display: grid;
          align-items: center;
          gap: 12px;
          grid-template-columns: 20px auto;

          input.task-list-item-checkbox[type="checkbox"] {
            &::before {
              @include mixin.material-symbols("check_box_outline_blank", $size: 20rem);
              font-variation-settings: "FILL" 1;
            }

            appearance: none;
            grid-column: 1 / 2;
            margin: 0px;
            height: 20px;
            width: 20px;

            &:checked {
              &::before {
                @include mixin.material-symbols("check_box", $size: 20rem);
              }
            }
          }

          &::before {
            display: none;
          }
        }
      }
    }

    code {
      @include mixin.typescale-style("body-large");
      display: inline-block;
      width: max-content;
      font-family: Cascadia Code;
      text-indent: initial;
      vertical-align: baseline;
      word-break: break-word;
      border-radius: var(--md-sys-shape-corner-small);
      overflow: initial;

      &::selection {
        color: var(--md-sys-color-on-tertiary);
        background-color: var(--md-sys-color-tertiary);
      }

      .line {
        display: inline-block;
        width: 100%;
        padding-inline: 12px;

        span {
          @include mixin.typescale-style("body-large");
          font-family: Cascadia Code;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      font-variation-settings: "wght" 600;

      a {
        text-decoration: none;
      }

      code {
        font-size: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
      }

      &:focus-visible {
        outline: none;
      }
    }

    hr {
      margin-block: 12px;
    }

    p {
      position: relative;
      margin-block: 12px 6px;

      a {
        border-radius: var(--md-sys-shape-corner-small);
      }

      code {
        @include mixin.typescale-style("body-large");
        display: inline;
        min-width: max-content;
        padding: 0px;
        vertical-align: baseline;
        font-family: Cascadia Code;
      }

      em {
        display: inline-block;
        font-style: normal;
        transform: skewX(-10deg);
      }

      s {
        opacity: 0.5;
      }

      strong {
        font-variation-settings: "wght" 700;
      }

      img {
        display: inline-block;
        width: 100%;
        border-radius: var(--md-sys-shape-corner-medium);
        cursor: pointer;
        transition: border-radius var(--md-sys-motion-spring-fast-spatial-duration) var(--md-sys-motion-spring-fast-spatial);

        &:hover {
          border-radius: var(--md-sys-shape-corner-extra-large);
        }
      }
    }

    pre {
      padding-block-end: 12px;
      overflow: overlay;

      &.shiki {
        position: relative;
      }
    }

    strong {
      font-variation-settings: "wght" 700;
    }

    table {
      margin-block-end: 12px;
    }

    ul,
    ol {
      padding-block-end: 12px;

      a {
        border-radius: var(--md-sys-shape-corner-small);
      }

      li {
        @include mixin.typescale-style("body-large");
        position: relative;
        margin-block-start: 12px;
        vertical-align: middle;

        code {
          display: inline;
          padding: 0px;
        }

        ul {
          padding: 0px;
        }
      }
    }

    ol {
      li {
        &::marker {
          font-variation-settings: "wght" 700;
        }

        p {
          margin-inline: 0px;
          padding-block: 0px;
        }
      }
    }

    ul {
      padding-inline-start: 24px;
      list-style-type: none;

      li {
        position: relative;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: -20px;
          top: var(--bullet-top);
          height: 16px;
          width: 16px;
          background-color: var(--md-sys-color-on-surface);
          mask: var(--via-svg-list-bullet) 0 0/100% no-repeat;
          transform: rotate(var(--random-rotation, 0deg));
        }
      }
    }

    &:hover .AnchorLink {
      opacity: 1;
    }
  }

  .inline-symbol {
    font-size: inherit;
    line-height: 100%;
    vertical-align: text-bottom;

    span {
      @include mixin.material-symbols($size: inherit, $line-height: 100%);
    }
  }

  .footnote-ref {
    vertical-align: bottom;

    a[href] {
      @include mixin.typescale-style("label-large");
      text-decoration: none;
    }
  }

  .post-info {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
    margin-block-start: 12px;

    p {
      @include mixin.typescale-style("label-small");
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 3px;
      color: var(--md-sys-color-outline);

      &::before {
        @include mixin.material-symbols($size: 14rem);
        margin-block: 1px auto;
      }

      &.date-publish::before {
        content: "calendar_today";
      }

      &.date-update::before {
        content: "update";
      }
    }
  }
}

#article-aside {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 10 / 13;
  position: sticky;
  top: 12px;
}

@media screen and (max-width: 1600px) {
  #article-content {
    grid-column: 1 / 10;
  }

  #article-aside {
    grid-column: 10 / 13;
  }
}

@media screen and (max-width: 1200px) {
  #article-content {
    grid-column: 1 / 7;

    .headline-block {
      padding-inline: 12px;

      a.title-anchor {
        gap: 0px;
        position: relative;
        left: inherit;
      }
    }
  }

  #article-aside {
    grid-column: 7 / 9;
  }
}

@media screen and (max-width: 840px) {
  #article-content {
    grid-column: 1 / 7;
  }

  #article-aside {
    grid-column: 1 / 7;
  }
}

@media screen and (max-width: 600px) {
  #article-content {
    grid-column: 1 / 5;
  }

  #article-aside {
    grid-column: 1 / 5;
  }
}
