@use "../mixin";

.MainLayout {
  display: grid;
  grid-template-columns: max-content auto;

  position: relative;

  height: 100%;

  z-index: 1;

  .content-flow {
    display: grid;
    align-content: space-between;
    align-items: start;
    gap: 24px;
    grid-column: 2;
    grid-template-columns: repeat(12, minmax(60px, 72px));
    justify-content: center;

    position: relative;

    padding-block-end: 68px;
    padding-block-start: 12px;

    width: 100%;

    overflow: overlay;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    scrollbar-width: thin;

    .home-content {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      grid-column: span 12;

      height: 100%;

      .avatar-box {
        position: relative;

        height: 420px;
        width: 420px;

        text-align: center;

        h3 {
          position: absolute;
          top: 280px;
          left: 50%;

          max-width: 420px;
          width: max-content;

          padding-block: 6px;
          padding-inline: 12px;

          color: var(--md-sys-color-on-primary-container);
          text-align: justify;

          background-color: var(--md-sys-color-primary-container);

          border-radius: var(--md-sys-shape-corner-small) var(--md-sys-shape-corner-large) var(--md-sys-shape-corner-large);

          z-index: 2;
        }

        img {
          position: relative;
          bottom: 50%;
          top: 50%;

          height: 300px;
          width: 300px;

          -webkit-mask: var(--via-svg-mask) no-repeat 0 / 100%;
          mask: var(--via-svg-mask) no-repeat 0 / 100%;
          translate: 0 -50%;
          z-index: 1;
        }

        span {
          position: absolute;
          left: 70px;
          top: 170px;

          height: 200px;
          width: 200px;

          background: linear-gradient(90deg, var(--md-sys-color-purple), var(--md-sys-color-purple-container));

          animation: spin 60s linear infinite;
          mask: var(--via-svg-mask) no-repeat 0 / 100%;
          -webkit-mask: var(--via-svg-mask) no-repeat 0 / 100%;
          opacity: 0.5;
          z-index: 0;
        }
      }

      .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        justify-content: left;

        width: 100%;

        margin-block-end: 84px;

        h1 {
          @include mixin.typescale-style("display-large");

          text-align: center;
          word-break: keep-all;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .MainLayout .content-flow {
    grid-template-columns: repeat(12, minmax(60px, 72px));

    padding-inline: 12px;

    .home-content {
      grid-column: span 12;
    }
  }
}

@media screen and (max-width: 1200px) {
  .MainLayout .content-flow {
    grid-template-columns: repeat(8, 1fr);

    width: 100%;

    .home-content {
      grid-column: span 8;
    }
  }
}

@media screen and (max-width: 840px) {
  .MainLayout {
    grid-template-columns: 0px auto;
    grid-template-rows: auto 64px;

    .content-flow {
      grid-template-columns: repeat(6, 1fr);

      padding-block: 76px;
      padding-inline: 12px;

      .home-content {
        grid-column: span 6;

        .avatar-box {
          zoom: 0.7;
        }

        .title {
          zoom: 0.8;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .MainLayout .content-flow {
    grid-template-columns: repeat(4, 1fr);

    padding-inline: 12px;

    .home-content {
      grid-column: span 4;

      .avatar-box {
        zoom: 0.6;
      }

      .title {
        zoom: 0.7;
      }
    }
  }
}
