@use "../mixin";

.notfound {
  display: flex;
  flex-direction: column;
  grid-column: span 12;
  justify-content: space-evenly;
  gap: 24px;
  padding: 5vw;
  height: 100%;
  color: var(--md-sys-color-on-error-container);

  #notfound-information {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-inline-start: 5px;

    h1 {
      margin: 6vh 0;
      font-size: 100rem;
      line-height: 100rem;
    }

    h2,
    a {
      @include mixin.typescale-style("display-small");
    }
  }

  #notfound-qrcode {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-inline-start: 5px;

    span {
      border-radius: var(--md-sys-shape-corner-medium);
      outline: 2px solid var(--md-sys-color-outline);
      width: 120px;
      height: 120px;
      background-image: var(--via-svg-qrcode-rickroll);
      background-repeat: no-repeat;
    }
  }

  @media screen and (width <= 1600px) {
    grid-column: span 12;
  }

  @media screen and (width <= 1200px) {
    grid-column: span 8;
  }

  @media screen and (width <= 840px) {
    grid-column: span 6;

    #notfound-information {
      h1 {
        font-size: 75rem;
      }

      h3 {
        font-size: 20rem;
      }
    }
  }

  @media screen and (width <= 600px) {
    grid-column: span 4;
  }
}
