@use "../mixin";

.ToolsLayout {
  display: grid;
  gap: 24px;
  grid-column: span 12;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  @media screen and (max-width: 1600px) {
    grid-column: span 12;
  }

  @media screen and (max-width: 1200px) {
    grid-column: span 8;
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 840px) {
    grid-column: span 6;
  }

  @media screen and (max-width: 600px) {
    grid-column: span 4;
  }
}
